# -----------------
# LSPatch 与模块设置
# -----------------

# [LSPatch]
LSPatch:
  repo: "LSPosed/LSPatch"
# 选择使用的 LSPatch 项目（需在 releases 中提供 .jar 文件）
# JingMatrix 维护的 LSPatch 分支已适配 Android 15，若在高版本遇到兼容性问题可考虑使用
# 将官方仓库 "LSPosed/LSPatch" 更改为 "JingMatrix/LSPatch" 即可（使用该分支产生的后果请自负）

# [模块]
modules:
  # --- 自定义模块 ---
  custom:
    enable: false # 是否启用自定义模块下载
    download_link: "https://github.com/Xposed-Modules-Repo/have.fun/releases/download/1067-v1067/FunBox_v1067.Apk"
  # 自定义模块下载链接（示例为FunBox）

  # ci_channel: true
  # （待开发，暂不生效）选择是否使用模块的最新CI构建版本（不稳定，不推荐开启）

# -----------------
# QQ 版本设置
# -----------------
QQ:
  custom:
    enable: true # 选择是否修补自定义版本 QQ
    download_link: "https://downv6.qq.com/qqweb/QQ_1/android_apk/Android_9.1.31_64.apk"
    # 自定义 QQ 版本下载链接（确保此链接可直接下载文件）
    # 建议使用 Arm64 安装包，否则需手动更改 Acion Workflow 配置文件中 QAuxiliary 的下载文件名后缀

  latest:
    enable: true # 选择是否修补最新版 QQ
  # 注意：基于最新版 QQ 修补的版本，模块部分功能可能因为未适配而失效，请酌情使用

# -----------------
# 修补设置
# -----------------
force:
  enable: false # 选择是否每次执行时均进行修补，忽略版本更新检查（不推荐长期开启）